<div class="container">
    <div class="row">
        <div class="col1 col-md-4">
            <!--<intake-stats mode="day"></intake-stats>-->
            <!--<intake-stats mode="week"></intake-stats>-->

        </div>
        <div class="col2 col-md-4">
            <input-data-point></input-data-point>
            <list-data-point limit="10"></list-data-point>
        </div>

        <div class="col3 col-md-4">
            <intake-stats mode="grams" days="1"></intake-stats>
        </div>
    </div>
    <div class="footer">
        <!--<intake-history></intake-history>-->
    </div>
</div>