<!--<div  class="stat chart" ng-show="intakeStats.mode == 'stats'">-->
    <!--<chartist  chartist-data="intakeStats.statChart"-->
               <!--chartist-chart-options="intakeStats.statChartOptions"-->
               <!--chartist-chart-type="Bar"></chartist>-->
<!--</div>-->

<div class="stat chart">
    <chartist  chartist-data="intakeStats.statChart"
               chartist-chart-options="intakeStats.statChartOptions"
               chartist-chart-type="Bar"></chartist>
</div>

<!--<div ng-show="intakeStats.mode == 'grams'" class="gram chart">-->
    <!--<chartist  chartist-data="intakeStats.gramChart"-->
               <!--chartist-chart-options="intakeStats.gramChartOptions"-->
               <!--chartist-chart-type="Bar"></chartist>-->
<!--</div>-->